@layer utilities {
  .text-link {
    @apply text-dlot-teal font-medium cursor-pointer;
  }

  .text-link:hover {
    @apply text-dlot-blue-haze;
  }

  .icon-link:hover {
    @apply text-dlot-teal;
  }

  @responsive {
    .paragraph {
      @apply text-gray-700 leading-7;
    }

    .paragraph-sm {
      @apply text-gray-700 leading-6 text-sm;
    }

    .page-title {
      @apply font-dlot-logo text-gray-800 leading-5 mb-6 font-bold text-xl;
    }

    .page-title-sm {
      @apply font-dlot-logo text-gray-800 leading-5 mb-4 font-bold text-lg;
    }

    .section-title {
      @apply text-gray-800 leading-5 mb-4 font-semibold text-lg;
    }

    .section-title-sm {
      @apply text-gray-800 leading-5 mb-4 text-base;
    }

    .subsection-title {
      @apply text-gray-800 leading-5 mb-2 font-semibold text-base;
    }

    .subsection-title-sm {
      @apply text-gray-800 leading-5 mb-2 font-semibold text-sm;
    }

    .dlot-logo {
      width: 125px;
    }

    .dlot-logo-sm {
      width: 100px;
    }
  }

}

ul > li::before {
  content: "";
  position: absolute;
  background-color: #cbd5e0;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

ul > li {
  position: relative;
  padding-left: 1.75em;
  @apply leading-7 text-gray-700;
}
