@tailwind utilities;

@layer utilities {
  .text-link {
    @apply text-dlot-teal font-medium cursor-pointer hover:text-dlot-blue-haze;
  }

  .text-link-neutral {
    @apply text-dlot-blue font-normal cursor-pointer hover:text-dlot-blue-haze;
  }

  .ulist {
    @apply list-disc marker:text-gray-100 marker:text-opacity-50 ml-4;
  }

  @media(hover: hover) and (pointer: fine) {
    .icon-link:hover {
      @apply text-dlot-teal;
    }
  }

  @responsive {
    .paragraph-xs {
      @apply text-gray-700 text-xs;
    }

    .paragraph {
      @apply text-gray-700 leading-7;
    }

    .paragraph-sm {
      @apply text-gray-700 leading-6 text-sm;
    }

    .page-title {
      @apply font-dlot-logo text-gray-800 leading-5 mb-6 font-bold text-xl;
    }

    .page-title-sm {
      @apply font-dlot-logo text-gray-800 leading-5 mb-4 font-bold text-lg;
    }

    .section-title {
      @apply text-gray-800 leading-5 mb-4 font-semibold text-lg;
    }

    .section-title-sm {
      @apply text-gray-800 leading-5 mb-4 text-base;
    }

    .subsection-title {
      @apply text-gray-800 leading-5 mb-2 font-semibold text-base;
    }

    .subsection-title-sm {
      @apply text-gray-800 leading-5 mb-2 font-semibold text-sm;
    }

    .dlot-logo {
      width: 125px;
      height: auto;
    }

    .dlot-logo-sm {
      width: 100px;
      height: auto;
    }
  }

}

img {
  width: 100%;
  height: auto;
}

html { margin-left: calc(100vw - 100%); }
