a {
  @apply text-dlot-teal;
}

a:hover {
  color: #cdc3d9;
}

.paragraph {
  @apply text-gray-700 leading-7;
}

p {
  @apply paragraph;
}

h3 {
  @apply font-dlot-logo text-gray-800 leading-5 mb-2 font-bold text-xl;
}

h4 {
  @apply font-dlot-logo text-gray-800 leading-5 mb-2 font-semibold text-lg;
}

h5 {
  @apply font-dlot-logo text-gray-800 leading-5 mb-2 font-semibold text-base;
}

li {
  @apply leading-7 text-gray-700;
}

ul > li::before {
  content: "";
  position: absolute;
  background-color: #cbd5e0;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}

ul > li {
  position: relative;
  padding-left: 1.75em;
}